<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>REGISTRO</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
    </head>
    <body>
        <header>
            <div class="headerTop">
                <div class="logo">
                    <img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
                </div>
                <form class="form" action="#" method="GET">
                    <input class="input" type="text" name="buscar" max-length="150" placeholder="Buscar productos, marcas y más">
                    <button class="submit"><i class="fa fa-search"></i></button>
                </form>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de credito</p>
            </div>
            <nav>
                <ul class="nav1">
                    <li><a href=#>Ofertas</a></li>
                    <li><a href=#>Tiendas Oficiales</a></li>
                    <li><a href=#>Vender</a></li>
                    <li><a href=#>Ayuda</a></li>
                </ul>
                <ul class="nav2">
                    <li><a href= "/registro"> Creá tu cuenta </a><i class="far fa-address-card"></i></li>
                    <li><a href= '/login'>Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href=#>Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
            <div class="hambMenu">
                <i class="fas fa-bars"></i>
            </div>
        </header>
        <section>
            <img src="/img/img-home-banner.jpg" alt="Home Banner">
        </section>
        <main>
            <h3>Completá tus datos</h3>
            <form action="/resultadoRegister" method="POST">
                <!-- nombre completo -->
                <div class="campoForm">
                    <label for="nombreCompleto">Nombre completo</label>
                    <input type="text" name="nombreCompleto" id="nombreCompleto" placeholder=""  required minlength="10">
                </div>
                <!-- nombre usuario -->
                <div class="campoForm">
                    <label for="nombreUsuario">Nombre del usuario</label>
                    <input type="text" name="nombreUsuario" id="nombreUsuario" required maxlength="12">
                </div>
                <!-- fecha de nacimeinto -->
                <div class="campoForm">
                    <label for="nacimiento">Fecha de nacimiento</label>
                    <input type="date" name="nacimiento" id="nacimiento" required>
                </div>
                <!-- domicilio -->
                <div class="campoForm">
                    <label for="domicilio">Domicilio</label>
                    <input type="text" id="domicilio" name="domicilio">
                </div>
                <!-- perfil del usuario -->
                <div class="campoForm">
                    <p>Perfil del usuario:<p>
                    <input type="radio" name="perfil" id="comprar" value="comprar">
                    <label for="comprar">Comprar</label>
                    <input type="radio" name="perfil" id="vender" value="vender">
                    <label for="vender">Vender</label>
                </div>
                <!-- categorias de interes -->
                <div class="campoForm categoriasInteres">
                    <p>Categorías de Interes</p>
                    <div>
                        <input id="electro" type="checkbox" name="categorias" value="electro">
                        <label for="electro"> Electro</label>
                    </div>
                    <div>
                        <input id="moda" type="checkbox" name="categorias" value="moda">
                        <label for="moda"> Moda</label>
                    </div>
                    <div>
                        <input id="hogar" type="checkbox" name="categorias" value="hogar">
                        <label for="hogar">Hogar</label>
                    </div>
                    <div>
                        <input id="jugeteria" type="checkbox" name="categorias" value="jugeteria">
                        <label for="jugeteria">Jugetería</label>
                    </div>
                    <div>
                        <input id="vidaSana" type="checkbox" name="categorias" value="vidaSana">
                        <label for="vidaSana">Vida sana</label>
                    </div>
                </div>
                <!-- Foto de usuario -->
                <div class="campoForm">
                    <label for="foto">Foto de Usuario</label>
                    <input type="file" id="foto" name="foto" accept=".jpg, .png">
                </div class="campoForm">
                <!-- Contraseña -->
                <div class="campoForm">
                    <label for="contraseña">Contraseña</label>
                    <input type="password" id="contraseña" name="contraseña" required maxlength="10">
                </div>
                <div class="campoForm">
                    <label for="ConfirmarContraseña"> Confirmar contraseña</label>
                    <input type="password" id="ConfirmarContraseña" name="ConfirmarContraseña" required maxlength="10">
                </div>
                <!-- boton enviar -->
                <button class="botonEnviar" type="submit">Enviar</button> 
                <!-- boton borrar datos -->
                <button type="reset">Borrar</button> 
            </form>
        </main>
        <footer>
            <section class="seccionFooter">
                <div>
                    <i class="fas fa-credit-card iconosFooter"></i>
                </div>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section class="seccionFooter">
                <div>
                    <i class="fas fa-gift iconosFooter"></i>
                </div>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section class="seccionFooter">
                <div>
                    <i class="fas fa-user-shield iconosFooter"></i>
                </div>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </section>
            <section class="copyright">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
        </footer>
    </body>
</html>